[client]
default_character_set=utf8mb4

[mysqld]
# 基本設定
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
datadir=/var/lib/mysql

# 古い認証方式を使う MySQL 用
default_authentication_plugin=mysql_native_password

# slow query log 有効化
slow_query_log=1

# 5 秒以上時間を要したクエリを記録
long_query_time=5

# index が未使用のクエリを出力
log_queries_not_using_indexes=1

# log のパス
slow_query_log_file=/var/log/mysql/slow.log
log_error=/var/log/mysql/error.log
general_log_file=/var/log/mysql/general.log

# 普遍的なログは出力しない
general_log=0

[mysqld_safe]
# PID ファイル
pid_file=/var/run/mysqld/mysqld.pid

# ソケットファイル
socket=/run/mysqld/mysql.sock